# Frontend
NEXT_PUBLIC_API_BASE_URL=http://localhost:8000

# Backend
ENV=development
API_HOST=0.0.0.0
API_PORT=8000
ALLOWED_ORIGINS=http://localhost:3000
GROQ_MODEL=llama-3.3-70b-versatile
GROQ_API_KEY=your_groq_api_key
SUPABASE_URL=your_supabase_url
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key
SUPABASE_DB_URL=postgresql://postgres.<project-ref>:<url-encoded-password>@<region>.pooler.supabase.com:6543/postgres
HUGGINGFACEHUB_API_TOKEN=your_huggingface_token
EMBEDDING_MODEL_NAME=sentence-transformers/all-MiniLM-L6-v2
EMBEDDING_DIMENSION=384
PROFILE_MARKDOWN_PATH=app/data/rajat_khandelwal_profile.md
FAISS_STORAGE_PATH=storage/faiss
AUTO_INGEST_ON_STARTUP=true
